# Prevent access to .htaccess and .py
<Files ~ "^.*\.([Hh][Tt][Aa]|[Pp][Yy])">
    Require all denied
</Files>

# Redirecting HTTP traffic to HTTPS. (Keep commented on localhost if you don't have self-signed certificates !)
# You can technically leave this part disabled wince this type of redirection is often handled by other services such
#   as reverse-proxies or CDNs in a much nicer and simpler way.
# The choice here is up to you.
#RewriteEngine On
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://nibblepoker.lu/$1 [R,L]

# Correcting some default options for security and language/content redirection.
# FollowSymlinks is also on since it's required for "mod_rewrite" and the server is jailed.
Options -Indexes +FollowSymlinks -ExecCGI
ServerSignature Off

# Custom error pages.
#ErrorDocument 403 /403.php
#ErrorDocument 404 /404.php

# Setting up browser's caching rules
# See:
#  * https://stackoverflow.com/a/13029007
#  * https://www.a2hosting.com/kb/developer-corner/apache-web-server/turning-off-caching-using-htaccess

# Default: 12 hours
Header set Cache-Control "max-age=43200, public, must-revalidate"

<FilesMatch "\.(?i:gif|jpe?g|png|ico|svg|woff2|otf|json)$">
    # Static files: 1 Week
    Header set Cache-Control "max-age=604800, public, must-revalidate"
</FilesMatch>

###<FilesMatch "\.(?i:css|js)$">
###    # Semi-static files: 1 Day
###    Header set Cache-Control "max-age=86400, public, must-revalidate"
###</FilesMatch>

<FilesMatch "\.(?i:gif|jpe?g|png|ico|svg|woff2|otf|json)$">
    # Versioning files: Never
    Header set Cache-Control "no-cache"
</FilesMatch>

# Disable the cache for debugging.
#Header set Pragma "no-cache"
#Header set Expires 0

# TODO: Check the "public" part !
##Header always set Cache-Control "max-age=300, public"

# Setting some headers for security.
# Remarks:
# > These headers will very likely prevent you from running ads on the page, which is a good thing.
# > Firstly, fuck ads and the people shilling them while dismissing the harm they often cause.
# > Secondly, you don't need ads to pay for the tiny amount of bandwidth this app requires.
# > CDNs exist for a reason and unless you are a cheapskate you can easily pay for it by not pissing away money for a
#     split second on useless goods and services.
# > Finally, I won't run invasive ads or trackers as a matter of principle, so it's all good on my side.
# > BTW, having a third-party injecting random JS into your page should worry you, this type of activity shouldn't be
#     ignored, especially when you have to dig through hidden and mistitled options to disable it. (e.g. CloudFlare...)
# > If you want to run some ads/trackers, I'll let you fuck over your user's security and fight the CSP header's src
#     rules on your own.
Header always set X-Frame-Options "deny"
#Header always set Content-Security-Policy "default-src 'self' files.nibblepoker.lu; object-src 'none'; child-src 'self'; frame-ancestors 'none'; upgrade-insecure-requests; block-all-mixed-content"
Header always set X-XSS-Protection " 1; mode=block"
Header always set Referrer-Policy "no-referrer"
Header always set X-Content-Type-Options "nosniff"
#Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

#Header always set Access-Control-Allow-Origin "*"
Header always set Permissions-Policy "accelerometer=() ambient-light-sensor=() autoplay=() battery=() camera=() display-capture=() document-domain=() encrypted-media=() execution-while-not-rendered=() execution-while-out-of-viewport=() fullscreen=() gamepad=() geolocation=() gyroscope=() hid=() idle-detection=() local-fonts=() magnetometer=() microphone=() midi=() payment=() picture-in-picture=() publickey-credentials-get=() screen-wake-lock=() serial=() speaker-selection=() usb=() web-share=() xr-spatial-tracking=()"

# Removing some useless headers.
# > Apache may not remove them all because "reasons"...
Header unset X-Powered-By
Header unset Server
Header unset Last-Modified
Header unset Date
Header unset ETag

# Enabling compression on common file types
# Remarks:
# * Image compression should preferably be done once outside of Apache before serving the files.
Header always set X-Debug-Was-Compressed-By-Htaccess "No"
<FilesMatch "\.(html?|css|js|json|ico|svg|jpg|jpeg|png|otf|ttf)$">
	SetOutputFilter DEFLATE
	Header unset X-Debug-Was-Compressed-By-Htaccess
	Header always set X-Debug-Was-Compressed-By-Htaccess "Yes"
</FilesMatch>

# Handling all other redirections.
RewriteEngine On

# Languages. (Does not work with a regex for some reason)
#RewriteRule ^en/(.*)$ /$1 [QSA]
#RewriteRule ^fr/(.*)$ /$1 [QSA]
#RewriteRule ^lb/(.*)$ /$1 [QSA]
